.title {
  font-family: 'Bebas Neue', serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
  color: var(--blue);
}

.body {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--black-blue);
}

//.cardListWrapper {
//  width: 90%;
//  position: absolute;
//  bottom: 3%;
//  right: 5%;
//  left: 5%;
//}
