.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid var(--line-color-opacity);
  border-right: 1px solid var(--line-color-opacity);
  height: 100vh;
}

.title {
  position: absolute;
  top: 170px;
  max-width: 8em;
  padding-left: 78px;
  margin: 0;
  color: var(--black-blue);

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 120px;
    top: 0;
    left: 0;
    background: var(--linear-gradient);
  }
}

.circleSvg {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dotHovered {
  fill: white;
}

.dotNumber {
  color: var(--black-blue);
  font-weight: 400;
  font-size: 20px;
  text-anchor: middle;
  dominant-baseline: central;
  opacity: 0;
}
.dotNumberOp {
  color: var(--black-blue);
  font-weight: 400;
  font-size: 20px;
  text-anchor: middle;
  dominant-baseline: central;
  opacity: 1;
}

.dotHovered + .dotNumber {
  opacity: 1;
}


.dot-1, .dot-2, .dot-3, .dot-4, .dot-5, .dot-6 {
  cursor: pointer;
}

.counter {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: 1px solid var(--black-blue);
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
  }
}

.btnWrapper {
  display: flex;
  gap: 20px;
}

.nameMarker,
.nameMarkerActive {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--black-blue);
}

.nameMarkerActive {
  display: block;
}

.titleCircle {
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
}

.leftTitleCircle {
  fill: var(--iris-100);
}

.rightTitleCircle {
  fill: var(--fuschia-100);
}

.contentWrapper {
  position: relative;
  height: 65%;
}

.contentFooter {
  position: absolute;
  top: 700px;
  width: 100%;
}

.counterWrapper {
  padding-left: 78px;
}
