.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid var(--line-color-opacity);
  border-right: 1px solid var(--line-color-opacity);
  height: 100vh;
}

.title {
  position: absolute;
  top: 80px;
  max-width: 8em;
  padding-left: 78px;
  margin: 0;
  color: var(--black-blue);

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 120px;
    top: 0;
    left: 0;
    background: var(--linear-gradient);
  }
}

.counter {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 18px;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: 1px solid var(--black-blue);
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btnWrapper {
  display: flex;
  gap: 20px;
}

.contentWrapper {
  position: relative;
  height: 65%;
}

.contentFooter {
  position: absolute;
  top: 700px;
  width: 100%;
}

.counterWrapper {
  padding-left: 78px;
}


// Media
@media (max-width: 1024px) {
  .wrapper {
    border: none;
  }

  .title {
    position: static;
    padding: 59px 0 0 0;

    &::before {
      content: none;
    }
  }

  .contentWrapper {
    padding: 0 20px;
  }

  .contentFooter {
    position: static;
  }

  .counterWrapper {
    padding: 0;
  }

  .contentFooterWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 870px) {
  .counterWrapper {
    height: auto;
  }
}

@media (max-width: 480px) {
  .counterWrapper {
    margin-top: 15px;
  }
}
