:root {
  // Цвета
  --black-blue: #42567A;
  --iris-100: #5D5FEF;
  --fuschia-100: #EF5DA8;
  --blue: #3877EE;
  --line-color-opacity: rgba(66, 86, 122, 0.1);
  --linear-gradient: linear-gradient(#3877ee, #ef5da8);
  --active-item-border: rgba(48, 62, 88, 0.5);
}
