.h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 67px;
  color: rgba(66, 86, 122, 1);
}

// Media
@media (max-width: 870px) {
  .h1 {
    font-size: 2.5rem;
    line-height: 46px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 1.25rem;
    line-height: 24px;
  }
}
